<title>Alianca Tecnologia</title>

<!--Futuramente essa parte vai ficar na sidebar-->>
<!-- <nav class="menu">
  <ul class="menu">
    <li>
      <a href="#centros">Centros</a>
    </li>
    <li>
      <a href="#eventos">Eventos</a>
    </li>
    <li>
      <a href="#atividades">Atividades</a>
    </li>
  </ul>
</nav> -->


<a id="centros"></a>
<!-- <div class="section-hero">
  <div class="container"> -->
<div>
  <div>

    <h2>Centros Alianca Espirita Evangelica</h2>
    <ul>
      <table id="centros">
        <tr>
          <th>Nome</th>
          <th>Endereço</th>
          <th>Numero</th>
          <th>Complemento</th>
          <th>Bairro</th>
          <th>CEP</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Pais</th>
          <th>CNPJ</th>
          <th>Data de Fundação</th>
        </tr>
        <tr *ngFor="let centro of centroData">
          <td>{{centro.NOME_CENTRO}} </td>
          <td>{{centro.ENDERECO}} </td>
          <td>{{centro.NUMERO_ENDERECO}} </td>
          <td>{{centro.COMPLEMENTO}} </td>
          <td>{{centro.BAIRRO}} </td>
          <td>{{centro.CEP}} </td>
          <td>{{centro.CIDADE}} </td>
          <td>{{centro.ESTADO}} </td>
          <td>{{centro.PAIS}} </td>
          <td>{{centro.CNPJ_CENTRO}} </td>
          <td>{{centro.DATA_FUNDACAO}} </td>
        </tr>

      </table>
    </ul>
  </div>
</div>

<!-- 
<a id="eventos"></a>
<div id="overview" class="section">
  <div class="container">
    <div class="overview-content">
      <div>
        <h2>Eventos Cadastrados</h2>
      </div>
    </div>
  </div>
</div>

<a id="atividades"></a>
<div id="insert" class="section">
  <div class="container">
    <h2>Inserir Atividades</h2>
    <p>Add a new Activity</p>

  </div>
</div> -->


<!-- footer -->
<footer>
  <span>created by Alianca Espirita Evangélica</span>
</footer>
