<title>Alianca Tecnologia</title>

<!--Futuramente essa parte vai ficar na sidebar-->>
  <nav class="menu">
        <ul class="menu">
              <li>
                    <a href="#centros">Centros</a>
              </li>
              <li>
                    <a href="#eventos">Eventos</a>
              </li>
              <li>
                    <a href="#atividades">Atividades</a>
              </li>
        </ul>
  </nav>


<a id="centros"></a>
    <div class="section-hero">
      <div class="container">

        <h2>Centros Alianca Espirita Evangelica</h2>
        <ul>
          <li *ngFor="let centro of centroData">
            <span>{{centro.NOME_CENTRO}}</span>
          </li>
        </ul>
      </div>
    </div>

    	
<a id="eventos"></a>
<div id="overview" class="section">
  <div class="container">
      <div class="overview-content">
            <div><h2>Eventos Cadastrados</h2></div>
      </div>
  </div>
</div>

<a id="atividades"></a>
<div id="insert" class="section">
        <div class="container">
              <h2>Inserir Atividades</h2>
              <p>Add a new Activity</p>
              
        </div>
</div>


<!-- footer -->
<footer>
  <span>created by Alianca Espirita Evangélica</span>
</footer>
